## Default .htaccess file

RewriteEngine On

# Force https protocol
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

# Catch 403-404 errors and redirect to home
ErrorDocument 404 /404.html
ErrorDocument 403 /404.html
